.popup__input-job {
  position: relative;
  width: 238px;
  height: 26px;
  top: 115px;
  left: 10px;
  font-family: "Inter","Arial",sans-serif;
  font-style: normal;
}

@media screen and (min-width: 1280px) {
  .popup__input-job {
    position: relative;
    width: 358px;
    height: 27.26px;
    top: 128px;
    left: 29px;
    font-family: "Inter","Arial",sans-serif;
    font-style: normal;
  }
}
