.header__line {
  position: absolute;
  width: 320px;
  top: 56px;
  opacity: 0.7;
  height: 0;
  left: 0px;
  border: 1px solid #545454;
}

@media screen and (min-width: 1280px) {
  .header__line {
    width: 100%;
    top: 74px;
    height: 0px;
  }
}
