
.popup__input-name{
    position: relative;
    width:238px;
    height:26px;
    top:76px;
    left:20px;
}

@media screen and (min-width:1280px) {

  .popup__input-name{
    position: relative;
    width:358px;/*238px;*/
    height:27.26px;/*26px;*/
    top:71px;/*111px 76px;*/
    left:36px;/*21px;/*20px;*/
    }
}