.popup__input-name {
  position: relative;
  width: 238px;
  height: 26px;
  top: 76px;
  left: 20px;
}

@media screen and (min-width: 1280px) {
  .popup__input-name {
    position: relative;
    width: 358px;
    height: 27.26px;
    top: 71px;
    left: 36px;
  }
}
