.popup__form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 282px;
  height: 322px;
  left: 0px;
  right: 5px;
  top: 0px;
  border-radius: 10px;
}

@media screen and (min-width: 1280px) {
  .popup__form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 430px;
    height: 330px;
    left: 0px;
    right: 5px;
    top: 0px;
    border-radius: 10px;
  }
}
