
.popup__form{  
    /*antes .popup__container*/
    display:flex;/*none;/*flex;*/
    flex-direction:column;
    position:relative;/*absolute;*/
    width:282px;
    height:322px;
    left:0px;/*19px;*/
    right:5px;
    top:0px;/*110px;*/
    border-radius: 10px;
    /*background-color:#ffffff;*/
    /*z-index: 1;*/
   
}

@media screen and (min-width:1280px) {
  .popup__form{  
    display:flex;/*none;*/
    flex-direction:column;
    position:relative;/*absolute;*/
    width:430px;/*282px;*/
    height:330px;/*322px;*/
    left:0px;/*19px;*/
    right:5px;
    top:0px;/*110px;*/
    border-radius: 10px;
    }
}
  