.profile__avatar-image {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 3.75px;
  /*bottom: 3.75px;*/
  left: 22.5px;
  /*right: 26.25px;*/
  border-radius: 80%;
}

@media screen and (min-width: 1280px) {
  .profile__avatar-image {
    position: relative;
    width: 120px;
    height: 120px;
    top: 2px;
    /*bottom: 3.5px;*/
    left: 22.5px;
    /*right: 26.25px;*/
    border-radius: 80%;
  }
}
