@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../../fonts/Inter-Regular.woff2) format("woff2"),
    url(../../fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/Inter-Regular.woff2) format("woff2"),
    url(../../fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Inter-Regular.woff2) format("woff2"),
    url(../../fonts/Inter-Regular.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  background-color: #e5e5e5;
  width: 320px;
  height: 2814px;
}

@media screen and (min-width: 1280px) {
  .root {
    background-color: #e5e5e5;
    width: 1280px;
    height: 1217px;
  }
}
