
.footer__description{
    width:282px;
    height:14px;
    /*top:0px;/*2764px;(0px;)*/
    left:19px;
    bottom:36px;
    font-family:"Inter";
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    color: #545454;
}

@media screen and (min-width:1280px) {

 .footer__description{
 width:318px;
 height:18px;
 left:0px;
 font-family:"Inter";
 font-size: 14px;
 line-height: 16.94px;
 font-weight: 400;
 color: #545454;
 }
}