.profile__info-name {
  position: relative;
  width: 196px;
  height: 22px;
  top: 0px;
  left: 29px;
  right: 57px;
  font-family: "Inter";
  font-size: 22px;
  line-height: 24.5px;
  font-weight: 500;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .profile__info-name {
    position: absolute;
    display: flex;
    width: 373px;
    height: 39px;
    left: 3px;
    top: 0px; /*5px;*/
    font-family: "Inter";
    font-style: normal;
    font-size: 41px;
    line-height: 45px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
}
