
.profile__avatar {

  position:absolute;/*relative;*/
  width:168.75px;
  height:127.5px;
  top:0px;
  left:58.5px;
  right: 100px;
  box-sizing: content-box;  
}


@media screen and (min-width:1280px) {

  .profile__avatar {
    position:relative;/*absolute;*/
    width:168.75px;/*120px 168.75px;*/
    height:128px;/* 127.5px; 120px;*/
    top:0px;
    left:0px;/*22.5px;/**/
    right:0px;/*760px;*/
    box-sizing: content-box;
    /*border:1px solid blue;*/
    /*align-self: center;*/
  } 

}


  /*.profile__avatar {
    position:relative;
    width:168.75px;
    height:128px;
    top:0px;
    left:0px;
    right:760px;
    box-sizing: content-box;  
    }
}*/
  