
.footer {
    position:absolute;
    width:282px;
    height:14px;
    top:2764px;
    left:19px;
    /*bottom:36px;*/
    background-color: #000000;
    margin: auto;
}

@media screen and (min-width:1280px) {

    .footer {
      position:absolute;
      width:318px;
      height:18px;
      top:1139px;
      left:200px;
      background-color: #000000;
    }
}
  