.editbutton {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 16px;
  left: 235px;
  right: 48px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #000000;
}

.editbutton:hover {
  border: 1px solid grey;
}

@media screen and (min-width: 1280px) {
  .editbutton {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 375px;
    top: 40px;
    background-color: #000000;
    border: 1px solid #ffffff;
  }
}
